.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    /* background-color: rgba(0, 0, 0, 0.8); */
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 65px;
}

.title{
    margin-left: 10px;
}

.search_element {
    font-size: 15px;
    padding: 5px;
    border: 0.5px solid gray;
    border-radius: 10px;
    margin-right: 10px;
    background-color: rgb(28, 28, 28);
    width: 250px;
    transition: 0.1s;
}

.search_element:focus {
    outline: none;
    border: 2px solid rgb(180, 180, 180);
    background-color: rgb(60, 60, 60);
}