.header {
    top: 0;
    left: 0;
    z-index: 999;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 65px;
}

.header_title > a{
    display: flex;
    margin-left: 10px;
    letter-spacing: 1px;
}

a > p {
    color: orangered;
    text-transform: uppercase;
}

.header_navItem{
font-size: 18px;
text-transform: uppercase;
font-weight: 600;
letter-spacing: 2px;
    
}


.header_searchForm{
    position: relative;
}


.header_searchElement {
    font-size: 15px;
    padding: 5px;
    border: 0.5px solid gray;
    border-radius: 10px;
    margin-right: 10px;
    background-color: rgb(28, 28, 28);
    width: 250px;
    transition: 0.1s;
}

.header_searchElement:focus {
    outline: none;
    border: 0.5px solid orangered;
    background-color: rgb(60, 60, 60);
}

.header_searchButton{
    position: absolute;
    top: 0;
    right: 10px;
    z-index: 3;
    padding: 8px 15px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    background: linear-gradient(90deg, orangered 30%, rgb(255, 166, 0) 100%);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.header_searchButton:hover {
    opacity: 0.9;
}