.article {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    background-color: rgb(80, 80, 80);
    padding: 15px;
    gap: 20px;
    width: 80%;
}

.article_imageBlock {
    flex: 1;
    display: flex;
    align-items: center;
}

.article_image {
    width: 100%;
}

.article_InfoBlock{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.article_InfoBlockTitle{
    font-weight: 700;
    font-size: 27px;
    text-align: center;
}

.article_InfoBlockDescription{
    font-size: 18px;
    font-weight: 600;
}

.article_InfoBlockdataInfo,
.article_InfoBlockButtonBlock{
    width: 100%;
    display: flex;
    justify-content: end;
}

.article_data{
    font-size: 13px;
    font-weight: 700;
    color: orangered;
}


.article_InfoBlockButton{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    font-weight: 700;
    width: 100px;
    padding: 10px;
    background: linear-gradient(90deg, orangered 30%, rgb(255, 166, 0) 100%);
    transition: 0.2s ease;
}

.article_InfoBlockButton:hover{
    transform: scale(1.1);
    opacity: 0.9;
}
